echo ${DIR_NAME} | awk -v CACHE_FILE_NAME=$CACHE_FILE_NAME -v HOME_TMP=${HOME_TMP} -v PAYLOAD_FILE=${HOME_TMP}/${CACHE_FILE_NAME} -F/ '
function try_cache(filename, timeout) {
  cmd = sprintf("stat -c %%Y %s", filename)
  cmd | getline cached_time
  if (systime() - cached_time <= timeout) {
    printf("echo cat %s\n", CACHE_FILE_NAME)
    exit(0)
  }
} 
BEGIN {

  printf("echo export LVL1=\"/\"\n")
  printf("echo export CACHE_FILE_NAME=%s\n", CACHE_FILE_NAME)
  printf("echo export HOME_TMP=%s\n", HOME_TMP)
  printf("echo export PAYLOAD_FILE=%s\n", PAYLOAD_FILE)
  for (i = 2; i <= NF; i++) {
    printf("echo export LVL%d=\"%s\"\n", i, $i)
  } 
} 
{
  path=$0
  
{{ tree("/", fs, none) }}

}' | sh - | sh - | tee new_$CACHE_FILE_NAME && mv new_$CACHE_FILE_NAME $CACHE_FILE_NAME
