echo ${DIR_NAME} | awk -v CACHE_FILE_NAME=$CACHE_FILE_NAME -F/ '
function try_cache(filename, timeout) {
  cmd = sprintf("stat -c %%Y %s", filename)
  cmd | getline cached_time
  if (systime() - cached_time <= timeout) {
    printf("echo cat %s\n", CACHE_FILE_NAME)
    exit(0)
  }
} 
BEGIN {

  printf("echo export LVL1=\"/\"\n")
  printf("echo export CACHE_FILE_NAME=%s\n", CACHE_FILE_NAME)
  for (i = 2; i <= NF; i++) {
    printf("echo export LVL%d=\"%s\"\n", i, $i)
  } 
} 
{
  path=$0
  
  {% if fs_op == "getattr" %}
  if ($NF ~ /^.lua\/.*/) {
    printf("echo {{ "echo 'ino=1 mode=-rwxr-xr-x nlink=1 uid=0 gid=0 rdev=0 size=0 blksize=512 blocks=2 atime=0 mtime=0 ctime=0 '" | b64encode }} | base64 -d\n")
    exit
  } 
  {% endif %}

{{ tree("/", fs, none) }}

}' | sh - | sh - | tee new_$CACHE_FILE_NAME && mv new_$CACHE_FILE_NAME $CACHE_FILE_NAME
