{% macro tree_up(fs, ctx) %}
  {% if "name" in fs and ctx == "sh" %}
    printf("echo export %s=\"%s\"\n", "{{ fs.name }}", $path_lvl)
  {% endif %}
  {% if "name" in fs and ctx == "lua" %}
    printf("echo echo local %s=\"%s\"\n", "{{ fs.name }}", $path_lvl)
  {% endif %}
  path_lvl=path_lvl-1
  {% if "__parent" in fs %}
    {{ tree_up(fs.__getitem__("__parent"), ctx) }}
  {% endif %} 
{% endmacro %}

{% set execfuse_fs_ops = ["init","unlink","truncate","getattr","chmod","mkdir","readdir","chown","destro","open","create","mknod","check_args","rename","closed","read_file","mkfifo","symlink","link","utimens","write_file","rmdir","readlink"] %}
